.error-message {
    color:crimson;
    padding: 16px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    margin-top: 2%;
    margin-left: 80px;
    width: 400px;
    min-width: 180px;
    max-width: 450px;
}

.btn-register {
    text-transform: capitalize;
    width: 180px;
    margin-left: 82px;
}

h2 {
    color: #1b1b1b;
    text-transform: capitalize;
}
label {
    color: #1b1b1b;
    text-transform: capitalize;
    margin-left: 1%;
}

button, .input-data{
    margin: 1% 15% 1% 15%;
}

select {
    margin: 1% 80% 2% 15%;
}

.formSignUp {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: left;
}

.radio-options-div{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: normal;
}

.radio-and-label{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.radio {
    margin-left: 15%;
}
.select-combobox {
    width: min-content;
    margin-top: 1%;
    margin-left: 82px;
}
