.btns-home-div {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-sign {
    width: 180px;
    height: 30px;
    font-family: 'Courier New', Courier, monospace;

}

.btn-log {
    width: 180px;
    height: 30px;
    font-family: 'Courier New', Courier, monospace;

}