
  
  h1 {
    color: #1b1b32;
    font-family: Roboto, sans-serif;
    font-size: 25px;
    text-align: center;
    margin: 20px 0;
  }
  
  .signup-principal-div {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }