h2 {
    color: #1b1b1b;
    text-transform: capitalize;
}

.login-div {
    justify-content: center;
    align-content: center;
}

.title-div {
    align-content: center;
}

.form-login {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: end;
}

.error-message {
    display: flex;
    flex-direction: column;
    color:crimson;
    padding: 16px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    align-items: center;
}

.input-data {
    margin: 1% 15% 1% 15%;
}

.btn-login {
    width: 180px;
    margin-top: 3%;
    color: #1b1b1b;
}



