.list-task-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
    flex-direction: column;
}
.columns-div{
    display: flex;
    flex-direction: column;
}