.individual-task-div {
    min-height: 15px;
    background-color: #f7f7f7;
    margin: 5px 0;
    padding: 3px 3px 3px 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
    min-width: 165px;
    width: 172px;
    max-width: 186px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-text {
    color: black;
    width: 100%;
    height: 100%;
    font-size: 16px;
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
}

.task-icon {
    width: 25px;
    height: 25px;
    margin: 5px;
    color: firebrick;
}

.img-icon {
    width: 25px;
    height: 25px;
    margin: 5px;
    color: rgb(34, 178, 106);
}